<div class="container">
  <div class="d-flex justify-content-between">
    <h3><%= @group.name  %>'s Expenses</h3>
    <div class="dropdown">
        <button class="dropbtn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
          <div class="dropdown-content">
            <%= link_to "Edit Group", edit_group_path(@group)%>
            <%= link_to "Delete Group",
              group_path(@group),
              method: :delete,
              data: { turbo_method: 'DELETE', turbo_confirm: "Delete #{@group.name} group with all its expenses?" }%>
          </div>
    </div>
  </div>

  <div>
  <% if @group.expenses.empty? && @group.settled_expenses.empty? %>
    <p>Your group hasn't spent any money!</p>
    <%= link_to "Add your first expense to #{@group.name}!", new_transaction_path, class: "btn btn-flat" %>

  <% else %>


  <% if !@group.expenses.empty? %>
    <div class="d-flex mb-3"><%= render "shared/donut_chart", data: @donut_chart_group %></div>
      <div class="row">
        <div class="col-md-6">
          <div class="card bg-white text-black mb-2 rounded" style="border-radius: 5px!important">
            <div class="card-body">
              <h5 class="card-title fw-bold"><i class="fa-solid fa-receipt"></i> Totals:</h5>
              <% @group.user_amounts_diff.each do |el| %>
                <p class="card-text"><%= "- #{el[:user].username} spent #{el[:full_amount]} €" %></p>
              <% end %>
              <h5 class="card-title fw-bold"><i class="fa-solid fa-handshake"></i> Fair Share: <%= @group.fair_amount %> €</h5>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card bg-white text-black mb-4 rounded" style="border-radius: 5px!important">
            <div class="card-body">
              <h5 class="card-title fw-bold"><i class="fa-solid fa-file-invoice"></i> Who owes:</h5>
              <% @group.who_to_who.each do |txn| %>
                <p class="card-text"><%= "- #{txn[:payer].username} owes #{txn[:receiver].username} #{txn[:expense].amount} €" %></p>
              <% end %>
              <%= form_tag update_group_status_transactions_path, method: :post do %>
                <%= hidden_field_tag :group_id, @group.id %>
                <div class="d-flex justify-content-end border-white">
                  <%= submit_tag "Settle & Pay", class: "btn btn-flat" %>
                </div>
              <% end %>
            </div>
          </div>
</div>


</div>

</div>


    <div>
      <div>
        <h5 class="font-weight-bold">Total Expenses: <%= @group.total %> € <i class="fa-solid fa-circle-question fa-2xs" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="These expenses are not settled yet"></i></h5>
      </div>

      <div class=" d-flex flex-column-reverse">
               <% @group_expenses.each do |expense| %>
                <div class="card-product mb-3 d-flex">
                  <div class="col-1 ms-3 d-flex">
                    <div>
                      <% if expense.user.photo.attached? %>
                        <%= image_tag(expense.user.photo, class: "avatar", style: "height: 25px; width: 25px; border-radius: 50%", data_controller:"tooltip", data_bs_toggle:"tooltip", data_bs_placement:"top", title: "#{expense.user.username.capitalize}") %>
                      <% else %>
                        <% content_tag(:i, "", class: "fa-solid fa-circle-user text-dark") %>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-3 d-flex">
                    <p class="fs-12 ms-1 "><%= expense.name.capitalize %></p>
                  </div>

                  <div class="col-3 d-flex">
                    <p class="fs-8"><%= expense.category %></p>
                  </div>
                  <div class="col-2 d-flex justify-content-end">
                    <p class="fs-8"><%= expense.amount %> € <i class="fa-solid fa-circle-info" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= expense.created_at.strftime('%A, %d %b %Y %l:%M %p') %>"></i></p>
                  </div>
                  <div class="col-2 d-flex justify-content-end">
                    <%= link_to edit_transaction_path(expense) do %>
                      <%= content_tag(:i, "", class: "fa-solid fa-pen-to-square text-dark me-1") %>
                    <% end %>
                    <p></p>
                    <%= link_to transaction_path(expense), method: :delete,
                      data: { turbo_method: 'DELETE', turbo_confirm: "Delete #{expense.name} transaction?" } do %>
                        <%= content_tag(:i, "", class: "fa-solid fa-trash-can text-dark me-2") %>
                      <% end %>
                  </div>
                </div>
              <% end %>
        </div>
    <% end %>


    <h5 class="mt-3 font-weight-bold text-muted">Total Settled Expenses: <%= @group.settled_total %> € <i class="fa-solid fa-circle-question fa-2xs" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="These expenses have been settled"></i></h5>
    <div class=" d-flex flex-column-reverse">
               <% @settled_group_expenses.each do |expense| %>
                <div class="card-product bg-light text-muted mb-3 d-flex">
                  <div class="col-1 ms-3 d-flex">
                    <div>
                      <% if expense.user.photo.attached? %>
                        <%= image_tag(expense.user.photo, class: "avatar", style: "height: 25px; width: 25px; border-radius: 50%", data_controller:"tooltip", data_bs_toggle:"tooltip", data_bs_placement:"top", title: "#{expense.user.username.capitalize}") %>
                      <% else %>
                        <% content_tag(:i, "", class: "fa-solid fa-circle-user text-dark") %>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-3 d-flex">
                    <p class="fs-12 ms-1 "><%= expense.name.capitalize %></p>
                  </div>

                  <div class="col-3 d-flex">
                    <p class="fs-8"><%= expense.category %></p>
                  </div>
                  <div class="col-2 d-flex justify-content-end">
                    <p class="fs-8"><%= expense.amount %> € <i class="fa-solid fa-circle-info" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= expense.created_at.strftime('%A, %d %b %Y %l:%M %p') %>"></i></p>
                  </div>
                  <div class="col-2 d-flex ">
                    <p class="fs-8 ms-3" >Settled <i class="fa-solid fa-square-check"></i></p>
                  </div>
                </div>
              <% end %>
        </div>
    </div>
  <% end %>
</div>
</div>
