<div class="container">
  <h3><%= @group.name  %>'s Expenses</h3>
  <%= render "shared/avatars_group" %>
  <% if @group_expenses.empty? || @settled_group_expenses.empty? %>
    <p>You haven't spent any money!</p>
    <%= link_to "Add your first expense!", new_transaction_path, class: "btn btn-success" %>
  <% else %>
    <div>
        <%= donut_chart Transaction.where(group_id: @group, kind: "Expense").group(:category).sum(:amount),
          class: 'box',
          height: "250px",
          width: "600px",
          options: {
            legend: {
              orient: 'vertical', right: 'right',
              height: "250px",
              width: "250px",
            },
            emphasis: {
              itemStyle: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
              }
            }
          }
      %>
    </div>

  <div>
    <%= @group.total %>
    <p>Fair Amount per Friend: $ <%= @group.fair_amount %></p>

    <p>Actual Expenses Total per Friend:</p>
    <ul>
    <% @group.user_amounts_diff.each do |el| %>

      <li><%= "#{el[:user].email}: $ #{el[:full_amount]}" %></li>
    <% end %>

    </ul>



    <p>Who pays to who:</p>
    <ul>
      <% @group.who_to_who.each do |txn| %>
        <li><%= "#{txn[:payer].email} owes #{txn[:receiver].email}  $ #{txn[:transaction].amount}" %></li>
        <%# <li><%= "You owe #{key} $ #{amount - @current_user_divided_amount.values.first}" %></li>
      <% end %>
    </ul>



    <div>
      <div class="d-flex justify-content-between">
        <h5 class="font-weight-bold">@total Expenses $<%= @total %></h5>
        <%= form_tag update_group_status_transactions_path, method: :post do %>
          <%= hidden_field_tag :group_id, @group.id %>
          <%= hidden_field_tag :pay, @group.id %>
          <%= hidden_field_tag :receive, @group.id %>
          <%= submit_tag "Settle current expenses" %>
        <% end %>
        <%= link_to "Add Expense", new_transaction_path, class: "btn btn-success" %>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Amount(€)</th>
            <th scope="col">Friend</th>
          </tr>
        </thead>
        <tbody>
          <% @group_expenses.each do |expense| %>
            <tr>
                <td class="font-weight-bold"><%= expense.name.capitalize %></td>
                <td class="text-secondary "><%= expense.category.capitalize %></td>
                <td class="text-secondary"><%= expense.amount %> €</td>
                <td class="text-secondary"><%= expense.user.email %></td>
                <td><%= link_to edit_transaction_path(expense) do %>
                    <%= content_tag(:i, "", class: "fa-solid fa-pen-to-square text-dark me-1") %>
                  <% end %>
                </td>
                <td><%= link_to transaction_path(expense), method: :delete,
                      data: { turbo_method: 'DELETE', turbo_confirm: "Delete #{expense.name} transaction?" } do %>
                        <%= content_tag(:i, "", class: "fa-solid fa-trash-can text-dark me-2") %>
                  <% end %>
                </td>



              </tr>
          <% end %>
        </tbody>
      </table>

    <h5 class="font-weight-bold">@total Settled Expenses $<%= @total %></h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Amount(€)</th>
            <th scope="col">Friend</th>
          </tr>
        </thead>
        <tbody>
          <% @settled_group_expenses.each do |expense| %>
            <tr>
                <td class="font-weight-bold"><%= expense.name.capitalize %></td>
                <td class="text-secondary "><%= expense.category.capitalize %></td>
                <td class="text-secondary"><%= expense.amount %> €</td>
                <td class="text-secondary"><%= expense.user.email %></td>
                <%# <td><%= link_to "Edit", edit_transaction_path(transaction),
                class: "btn btn-success"%>
                <%# </td> %>
                <%# <td><%= link_to "Delete", transaction_path(transaction), method: :delete,
                data: { turbo_method: 'DELETE', turbo_confirm: "Delete #{transaction.name} Expense?" },
                class: "btn btn-danger" %>
                <%# </td> %>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>

<div class="d-flex justify-content-center"><%= link_to "Edit Group", edit_group_path(@group), class: "btn btn-success"%>
<%= link_to "Delete Group",
            group_path(@group),
            method: :delete,
            data: { turbo_method: 'DELETE', turbo_confirm: "Delete #{@group.name} group with all its expenses?" },
            class: "btn btn-danger" %></div>

