<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-4 ">
      <div class="edit-show">
        <h2>Your Profile</h2>

        <div class="row">
          <div class="col-md-12 text-center">
            <% if current_user.photo.present? %>
              <%= image_tag current_user.photo, class: "img-fluid square image", width: "250", height: "250" %>
            <% else %>
              <p>No photo available</p>
            <% end %>
          </div>
          <div class="col-md-12">
            <h4>First Name:</h4>
            <p><%= current_user.first_name %></p>

            <h4>Last Name:</h4>
            <p><%= current_user.last_name %></p>

            <h4>User Name:</h4>
            <p><%= current_user.username %></p>

            <h4>Email:</h4>
            <p><%= current_user.email %></p>
          </div>
        </div>
        <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %>
        <%= link_to raw('<i class="fas fa-sign-out-alt"></i> Log out'), destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>
