<h3 class="text-center"><%= @favorite_array.first.name %></h3>

<div class="row justify-content-center">
  <div class="col-8 col-sm-6">
    <% if @favorite_array.first.photo.attached? %>
      <%= cl_image_tag @favorite_array.first.photo.key, class:"img-fluid mx-auto d-block rounded-4", style: "width: 150px; max-height: 100px;"%>
    <% else %>
      <img src="https://m.media-amazon.com/images/I/716+A9OrcSL._AC_SL1500_.jpg" class= "img-fluid mx-auto d-block rounded-4" alt="" style="width: 150px; max-height: 100px;">
    <% end %>
  </div>
</div>

<div class="shadow-progress" style="border-radius: .5em;">
  <div class="progress mt-4 mb-2" style="height: 30px; border-radius: .5em;">
    <div class="progress-bar bg-success" role="progressbar" style="width: <%= @percentage %>%; border-radius: .5em;" aria-valuenow="<%= @percentage %>" aria-valuemin="0" aria-valuemax="100"><%= @percentage.round(1) %>%</div>
  </div>
</div>
<div class="d-flex justify-content-between">
  <% if current_user.balance < 0 %>
    <p><strong>Saved: </strong><span class="text-danger"><%= current_user.balance.round(1) %> €</span></p>
  <% else %>
    <p><strong>Saved: </strong><span class="text-success"><%= current_user.balance.round(1) %> €</span></p>
  <% end %>
    <p></p><strong><%= @goals.first.name %>'s Price:<strong> <span class=""><%= @goals.first.amount.round(1) %> €</span></p>
</div>

<div class="d-flex justify-content-end mt-3 mb-3">
  <%= link_to new_goal_path, class: "btn  btn-flat" do %>
  <i class="fa-solid fa-plus me-2"></i><i class="fa-solid fa-trophy fs-4"></i>
  <% end %>
</div>
<% @goals.each do |goal| %>
  <% percentages = (current_user.balance * 100) / goal.amount %>
  <div style="border-radius: .5em .5em 0 0;">
    <div class="progress" style="height: 5px; max-width: 100%; border-radius: .5em .5em 0 0;">
      <div class="progress-bar bg-success" role="progressbar" style="width: <%= percentages %>%;" aria-valuenow="<%= percentages %>" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    </div>
  <div class="card-product d-flex mb-3" style="border-radius: 0 0 .5em .5em;">
      <% if goal.photo.attached? %>
        <%= cl_image_tag goal.photo.key, style: "border-radius: 0 0 0 .5em;" %>
      <% else %>
        <img src="https://m.media-amazon.com/images/I/716+A9OrcSL._AC_SL1500_.jpg">
      <% end %>
    <div class="col-3 d-flex justify-content-start">
      <p class="fs-8 ms-1 me-3"><%= goal.name %></p>
    </div>
    <div class="col-3 d-flex justify-content-end">
      <p class="fs-8 me-3"><%= goal.amount.round(1) %> € <i class="fa-solid fa-circle-info" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= goal.created_at.strftime('%A, %d %b %Y %l:%M %p') %>"></i></p>
    </div>
    <div class="d-flex">
      <%= link_to favorite_goal_path(goal), data: { turbo_method: :patch } do %>
        <% if goal.favorite == false %>
          <i class="fa-regular fa-star fs-4 mt-1 me-3 text-dark"></i>
        <% else %>
          <i class="fa-solid fa-star fs-4 mt-1 me-3 text-success"></i>
        <% end %>
      <% end %>
      <div class="dropdown">
        <button class="dropbtn me-2"><i class="fa-solid fa-ellipsis-vertical"></i></button>
          <div class="dropdown-content">
            <%= link_to "Edit", edit_goal_path(goal)%>
            <%= link_to "Delete",
              goal_path(goal),
              method: :delete,
              data: { turbo_method: 'DELETE', turbo_confirm: "Delete #{goal.name} group with all its expenses?" }%>
          </div>
      </div>
    </div>
  </div>
<% end %>
