<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <i class="fa-solid fa-barcode fs-1" style="color: black; margin-right: 25px;"></i>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

    </button>


    <h1>MoneyCounter</h1>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <% if current_user.photo.attached? %>
              <%= image_tag(current_user.photo, class: "avatar", style: "height: 50px; width: 50px; border-radius: 50%", "data-bs-toggle": "dropdown", "data-bs-target": "#navbarDropdown", "aria-haspopup": "true", "aria-expanded": "false") %>
            <% else %>
              <i class="fa-regular fa-circle-user fs-1" style="color: black; margin-left: 25px;" data-bs-toggle= "dropdown", data-bs-target= "#navbarDropdown", aria-haspopup= "true", aria-expanded= "false"></i>
            <% end  %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <div>
                <%= link_to raw('<i class="fas fa-home"></i> Home'), root_path, class: "dropdown-item" %>
              </div>
              <div>
                <%= link_to raw('<i class="fa-solid fa-user"></i> Profile'), user_path(current_user), class: "dropdown-item" %>
              </div>
              <div>
                <%= link_to raw('<i class="fa-solid fa-money-bill-trend-up"></i> Expenses'), expenses_path, class: "dropdown-item" %>
              </div>
              <div>
                <%= link_to raw('<i class="fa-solid fa-hand-holding-dollar"></i> Incomes'), incomes_path, class: "dropdown-item" %>
              </div>
              <div>
                <%= link_to raw('<i class="fa-solid fa-sack-dollar"></i> Goals'), goals_path, class: "dropdown-item" %>
              </div>
              <div>
                <%= link_to raw("<i class='fa-solid fa-user-group'></i> Groups").html_safe, groups_path, class: "dropdown-item" %>
              </div>
              <div>
                <%= link_to raw('<i class="fas fa-sign-out-alt"></i> Log out'), destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
              </div>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
