<nav class="navbar fixed-bottom navbar-light container-fluid justify-content-center">

    <div class="container-icons">
    <div class="border-bar"></div>
  <ul class="navbar-nav">
      <li class="nav-item me-3 me-lg-1 mr-5 mb-4">
        <a class="nav-link">
        <div class="icon-wrapper">
            <%= link_to root_path do %>
              <% content_tag(:i, "", class: "fa-solid fa-house text-dark") %>
            <% end %>
            <div class="name-icons">
              <p>Home</p>
            </div>
          </div>
        </a>
      </li>

      <li class="nav-item me-3 me-lg-1 mr-5 mb-4">
        <a class="nav-link">
        <div class="icon-wrapper">
            <%= link_to goals_path do %>
              <% content_tag(:i, "", class: "fa-solid fa-trophy text-dark") %>
            <% end %>
            <div class="name-icons">
              <p>Goals</p>
            </div>
          </div>
        </a>
      </li>

      <li class="nav-item me-3 me-lg-1 mr-5 mb-4">
        <a class="nav-link">
            <div class="icon-wrapper">
              <%= link_to new_transaction_path do %>
                <% content_tag(:i, "", class: "fa-regular fa-square-plus text-dark") %>
              <% end %>
              <div class="name-icons">
                <p>Add</p>
            </div>
          </div>
        </a>
      </li>

      <li class="nav-item me-3 me-lg-1 mr-5 mb-4">
        <a class="nav-link">
          <div class="icon-wrapper">
            <%= link_to groups_path do %>
              <% content_tag(:i, "", class: "fa-solid fa-people-group text-dark") %>
            <% end %>
            <div class="name-icons">
              <p>Groups</p>
            </div>
          </div>
        </a>
      </li>

      <% if user_signed_in? %>
        <li class="nav-item me-3 me-lg-1 mr-5 mb-4">
          <a class="nav-link" href="/users/">
            <div class="icon-wrapper">
              <%= link_to user_path(current_user) do %>
                <% if current_user.photo.attached? %>
                  <%= image_tag(current_user.photo, class: "avatar", style: "height: 30px; width: 30.5px; rounded-circle") %>
                <% else %>
                  <% content_tag(:i, "", class: "fa-solid fa-circle-user text-dark") %>
                <% end %>
              <% end %>
              <div class="name-icons">
                <p>Profile</p>
              </div>
            </div>
          </a>
        </li>
      <% end %>

  </ul>
  </div>
</nav>
