<div class="container">
  <% favorite_array = [] %>
  <% @goals.each do |goal| %>
    <% if goal.favorite == true %>
      <% favorite_array << goal %>
    <% end %>
  <% end %>

  <% if favorite_array.empty? %>
    <h3 class="text-center"><%= @goals.first.name %></h3>

    <div class="row justify-content-center">
      <div class="col-8 col-sm-6">
        <img src="https://m.media-amazon.com/images/I/716+A9OrcSL._AC_SL1500_.jpg" alt="" class="img-fluid mx-auto d-block">
      </div>
    </div>

    <% current_user.balance = (current_user.incomes.sum(:amount) - current_user.expenses.sum(:amount)) %>
    <% percentage = ((current_user.balance * 100) / @goals.first.amount).round() %>
    <% if percentage > 100 %>
      <% percentage = 100 %>
    <% end %>

    <div class="progress mt-4" style="width: 500px">
      <div class="progress-bar bg-success" role="progressbar" style="width: <%= percentage %>%;" aria-valuenow="<%= percentage %>" aria-valuemin="0" aria-valuemax="100"><%= percentage %>%
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <p>Saved Amount: $<%= current_user.balance %></p>
      <p><%= @goals.first.name %>'s Price: $<%= @goals.first.amount %></p>
    </div>


    <div class="d-flex justify-content-end mt-3">
      <%= link_to "Add Goal", new_goal_path, class: "btn btn-success" %>
    </div>

    <table class="table mt-4">
      <thead class="thead-light">
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Amount($)</th>
          <th scope="col"> Favorite</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @goals.each do |goal| %>
        <tr class="text-align-center">
          <% if goal.photo.attached? %>
            <td> <%= cl_image_tag goal.photo.key, style: "width: 150px; max-height: 100px;" %></td>
          <% else %>
            <td><img src="https://m.media-amazon.com/images/I/716+A9OrcSL._AC_SL1500_.jpg" alt="" style="width: 150px; max-height: 100px;"></td>
          <% end %>
          <td class="font-weight-bold"><%= goal.name.capitalize %></td>
          <td class="text-secondary"><%= goal.amount %></td>
          <td class="text-secondary">
            <%= link_to favorite_goal_path(goal), data: { turbo_method: :patch } do %>
              <% if goal.favorite == false %>
                <i class="fa-regular fa-star"></i>
              <% else %>
                <i class="fa-solid fa-star" style="color: yellow;"></i>
              <% end %>
            <% end %>
          </td>
          <td><%= link_to "Edit", edit_goal_path(goal), class: "btn btn-success" %></td>
          <td><%= link_to "Delete", goal_path(goal), method: :delete,
                data: { turbo_method: 'DELETE', turbo_confirm: "Delete #{goal.name} Expense?" },
                class: "btn btn-danger" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h3 class="text-center"><%= favorite_array.first.name %></h3>

    <div class="row justify-content-center">
      <div class="col-8 col-sm-6">
        <% if favorite_array.first.photo.attached? %>
          <%= cl_image_tag favorite_array.first.photo.key, class:"img-fluid mx-auto d-block rounded-4"%>
        <% else %>
          <img src="https://m.media-amazon.com/images/I/716+A9OrcSL._AC_SL1500_.jpg" alt="" style="width: 150px; max-height: 100px;">
        <% end %>
      </div>
    </div>

    <% current_user.balance = (current_user.incomes.sum(:amount) - current_user.expenses.sum(:amount)) %>
    <% percentage = ((current_user.balance * 100) / favorite_array.first.amount).round() %>
    <% if percentage > 100 %>
      <% percentage = 100 %>
    <% end %>

    <div class="progress mt-4">
      <div class="progress-bar bg-success" role="progressbar" style="width: <%= percentage %>%;" aria-valuenow="<%= percentage %>" aria-valuemin="0" aria-valuemax="100"><%= percentage %>%</div>
    </div>
    <div class="d-flex justify-content-between">
      <p>Saved Amount: $<%= current_user.balance %></p>
      <p><%= favorite_array.first.name %>'s Price: $<%= favorite_array.first.amount %></p>
    </div>

    <div class="d-flex justify-content-end mt-3">
      <%= link_to "Add Goal", new_goal_path, class: "btn btn-success" %>
    </div>

    <table class="table mt-4">
      <thead class="thead-light">
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Amount($)</th>
          <th scope="col"> Favorite</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @goals.each do |goal| %>
        <tr class="text-align-center">
          <% if goal.photo.attached? %>
            <td> <%= cl_image_tag goal.photo.key, style: "width: 150px; max-height: 100px;" %></td>
          <% else %>
            <td><img src="https://m.media-amazon.com/images/I/716+A9OrcSL._AC_SL1500_.jpg" alt="" style="width: 150px; max-height: 100px;"></td>
          <% end %>
          <td class="font-weight-bold"><%= goal.name.capitalize %></td>
          <td class="text-secondary"><%= goal.amount %></td>
          <td class="text-secondary">
            <%= link_to favorite_goal_path(goal), data: { turbo_method: :patch } do %>
              <% if goal.favorite == false %>
                <i class="fa-regular fa-star"></i>
              <% else %>
                <i class="fa-solid fa-star" style="color: yellow;"></i>
              <% end %>
            <% end %>
          </td>
          <td><%= link_to "Edit", edit_goal_path(goal), class: "btn btn-success" %></td>
          <td><%= link_to "Delete", goal_path(goal), method: :delete,
                data: { turbo_method: 'DELETE', turbo_confirm: "Delete #{goal.name} Expense?" },
                class: "btn btn-danger" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
