<div class="container">
  <%= simple_form_for(@transaction, data: { controller: 'transactions-form', transactions_form_categories_value: Transaction::CATEGORIES }) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :kind, label: 'Transaction Type', prompt: 'Select Type', as: :select, collection: ['Expense', 'Income'], input_html: { class: 'rounded-boxes', data: { action: 'change->transactions-form#handleChange' } } %>

      <div class="form-group" id="group-input">
        <%= f.input :group_id, as: :select, collection: current_user.groups, prompt: 'Select Group', wrapper_html: { class: 'd-none', data: { transactions_form_target: 'group' } }, input_html: { class: "rounded-boxes"} %>
      </div>

      <%= f.input :name, placeholder: 'Transaction name', input_html: { class: 'rounded-boxes' } %>
      <%= f.input :amount, placeholder: "0,00 €", input_html: { class: 'rounded-boxes' } %>

      <%= f.input :category, as: :select, collection: [], prompt: 'Select a Category', id: 'transaction_category', input_html: { class: 'rounded-boxes', data: { transactions_form_target: 'category' } } %>

      <div class="form-actions d-flex justify-content-between mt-4">
        <div class="d-flex align-items-center">
          <%= link_to "Cancel", transactions_path, class: "ms-3 btn btn-flat-cancel" %>
        </div>
        <div>
          <%= f.button :submit, class: "btn btn-flat" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%# <script>
document.addEventListener('DOMContentLoaded', function() {
  var form = document.getElementById('transaction-form');
  var kindSelect = form.querySelector('#transaction_kind');
  var groupSelect = form.querySelector('#transaction_group_id');
  var categorySelect = form.querySelector('#transaction_category');

  // Initial setup
  handleTransactionTypeChange();

  // Add event listeners
  kindSelect.addEventListener('change', handleTransactionTypeChange);

  function handleTransactionTypeChange() {
    var selectedKind = kindSelect.value;
    if (selectedKind === 'Expense') {
      groupSelect.closest('.form-group').style.display = 'block';
      categorySelect.options.length = 0; // Clear previous options

      // Add expense categories
      var expenseCategories = ['Groceries', 'Health', 'Fun', 'Travel', 'Education', 'Utilities', 'Other'];
      for (var i = 0; i < expenseCategories.length; i++) {
        var option = document.createElement('option');
        option.text = expenseCategories[i];
        option.value = expenseCategories[i];
        categorySelect.add(option);
      }
    } else {
      groupSelect.closest('.form-group').style.display = 'none';
      categorySelect.options.length = 0; // Clear previous options

      // Add income categories
      var incomeCategories = ['Salary', 'Freelance', 'Resell', 'Birthday', 'Christmas', 'Lottery', 'Other'];
      for (var j = 0; j < incomeCategories.length; j++) {
        var option = document.createElement('option');
        option.text = incomeCategories[j];
        option.value = incomeCategories[j];
        categorySelect.add(option);
      }
    }
  }

  // Additional code or modifications can be added as needed
});

</script> %>
