<div class="container" data-controller="transaction">
  <% if @transactions.empty? %>
    <h5>You haven't added any transaction yet!</h5>
    <%= link_to "Add your first transaction!", new_transaction_path, class: "btn btn-flat" %>
  <% else %>

    <div class="d-flex" data-transaction-target="graph">
      <% if @donut_chart_data && @donut_chart_data.count > 0 && (params[:query] == "expense" || params[:query] == "income") %>
          <%= render "shared/donut_chart", data: @donut_chart_data %>
      <% elsif @area_chart_data && @area_chart_data.count > 0 %>
          <%= render "shared/area_chart", data: @area_chart_data %>
      <% end %>
    </div>


    <div class="d-flex justify-content-center">
      <div class="d-flex justify-content-center w-50 mb-3 mt-3">
        <% if params[:query] == "expense" %>
          <a href="/?query=expense" style="text-decoration: none;">
            <div class="secondcard-category d-flex justify_content_center button-pressed-left-focus ">
              Expenses
            </div>
          </a>

          <a href="/" style="text-decoration: none;">
            <div class="secondcard-category d-flex justify_content_center button-pressed-middle">
              Transactions
            </div>
          </a>

          <a href="/?query=income" style="text-decoration: none;">
            <div class="secondcard-category d-flex justify_content_center button-pressed-right">
              Incomes
            </div>
          </a>
        <% elsif params[:query] == "income" %>
          <a href="/?query=expense" style="text-decoration: none;">
            <div class="secondcard-category d-flex justify_content_center button-pressed-left ">
              Expenses
            </div>
          </a>

          <a href="/" style="text-decoration: none;">
            <div class="secondcard-category d-flex justify_content_center button-pressed-middle">
              Transactions
            </div>
          </a>

          <a href="/?query=income" style="text-decoration: none;">
            <div class="secondcard-category d-flex justify_content_center button-pressed-right-focus">
              Incomes
            </div>
          </a>
        <% else %>
          <a href="/?query=expense" style="text-decoration: none;">
            <div class="secondcard-category d-flex justify_content_center button-pressed-left ">
              Expenses
            </div>
          </a>

          <a href="/" style="text-decoration: none;">
            <div class="secondcard-category d-flex justify_content_center button-pressed-middle-focus">
              Transactions
            </div>
          </a>

          <a href="/?query=income" style="text-decoration: none;">
            <div class="secondcard-category d-flex justify_content_center button-pressed-right">
              Incomes
            </div>
          </a>
        <% end %>
      </div>
    </div>



    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6" >
          <%= form_tag(transactions_path, method: :get, class: "simple_form search") do %>
            <div class="search-form-control form-group">
              <div class="input-group">
                <%= text_field_tag(:query, params[:query], class: "form-control", placeholder: 'Search...', style: "border-radius: .5em 0 0 .5em;") %>
                <button class="btn btn-flat" type="submit" style="border-radius: 0 .5em .5em 0;">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div>
      <div class="container mt-3">
      <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="d-none d-flex flex-column-reverse" data-transaction-target="transactions">
               <% @transactions.each do |transaction| %>
                <div class="card-product mb-3 d-flex">
                  <div class="col-5">
                    <p class="fs-8 ms-2 me-3"><%= transaction.name.capitalize %></p>
                  </div>
                  <div class="col-3">
                    <p class="fs-8 ms-2 me-3"><%= transaction.category.capitalize %></p>
                  </div>
                  <div class="col-3 d-flex justify-content-end">
                    <% if transaction.kind == "Expense" %>
                      <p class="fs-8 me-3"><span class="text-danger">-<%= transaction.amount.round(1) %> €</span> <i class="fa-solid fa-circle-info" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= transaction.created_at.strftime('%A, %d %b %Y %l:%M %p') %>"></i></p>
                    <% else %>
                      <p class="fs-8 me-3"><span class="text-success">-<%= transaction.amount.round(1) %> €</span> <i class="fa-solid fa-circle-info" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= transaction.created_at.strftime('%A, %d %b %Y %l:%M %p') %>"></i></p>
                    <% end %>
                  </div>
                  <div class="col-1 d-flex justify-content-end">
                    <div class="dropdown">
                        <button class="dropbtn me-2"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                          <div class="dropdown-content">
                            <%= link_to "Edit", edit_transaction_path(transaction)%>
                            <%= link_to "Delete",
                              transaction_path(transaction),
                              method: :delete,
                              data: { turbo_method: 'DELETE', turbo_confirm: "Delete #{transaction.name} group with all its expenses?" }%>
                          </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>

            <div class="d-flex flex-column-reverse" data-transaction-target="firstTransactions">
              <% @transactions.last(5).each do |transaction| %>
                <div class="card-product mb-3 d-flex">
                  <div class="col-5">
                    <p class="fs-8 ms-2 me-3"><%= transaction.name.capitalize %></p>
                  </div>
                  <div class="col-3">
                    <p class="fs-8 ms-2 me-3"><%= transaction.category.capitalize %></p>
                  </div>
                  <div class="col-3 d-flex justify-content-end">
                    <% if transaction.kind == "Expense" %>
                      <p class="fs-8 me-3"><span class="text-danger">-<%= transaction.amount.round(1) %> €</span> <i class="fa-solid fa-circle-info" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= transaction.created_at.strftime('%A, %d %b %Y %l:%M %p') %>"></i></p>
                    <% else %>
                      <p class="fs-8 me-3"><span class="text-success"><%= transaction.amount.round(1) %> €</span> <i class="fa-solid fa-circle-info" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= transaction.created_at.strftime('%A, %d %b %Y %l:%M %p') %>"></i></p>
                    <% end %>
                  </div>
                  <div class="col-1 d-flex justify-content-end">
                    <div class="dropdown">
                        <button class="dropbtn me-2"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                          <div class="dropdown-content">
                            <%= link_to "Edit", edit_transaction_path(transaction) %>
                            <%= link_to "Delete",
                              transaction_path(transaction),
                              method: :delete,
                              data: { turbo_method: 'DELETE', turbo_confirm: "Delete #{transaction.name} group with all its expenses?" }%>
                          </div>
                    </div>
                  </div>

                </div>
              <% end %>
            </div>
            <div class="show" data-transaction-target="buttonShow" data-action="click->transaction#hideGraph">
              <p class="text-dark">See More</p>
              <p class="text-dark fs-1"><i class="fa-solid fa-caret-down"></i></p>
            </div>
            <div class="show d-none" data-action="click->transaction#showGraph" data-transaction-target="buttonLess">
              <p class="text-dark">See Less</p>
              <p class="text-dark  fs-1" ><i class="fa-solid fa-caret-up"></i></p>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>
