<%= simple_form_for(@expense) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, placeholder: 'Expense name' %>
    <%= f.input :category, as: :select, collection: ['Food',
     'Health',
      'Entertainment',
       'Travel',
        'Personal Care',
         'Education',
          'Debt and Loans',
           'Utilities', 'Shoppings',
            'Gifts',
             'Insurances',
              'Taxes',
               'Miscellaneous',
                'Entertainment',
                 'Transportation',
                  'Housing',
                   'Other...'],
                   prompt: 'Select Category'%>
    <%= f.input :amount, placeholder: "0,00 €" %>
    <%= f.input :frequency, as: :select, collection: ['One-Time', 'Weekly', 'Monthly'],
                          placeholder: 'One-time, Weekly, Monthly' %>
    <%= f.input :group_id, as: :select, collection: current_user.groups,
                   prompt: 'Select Group'%>
    <div class="form-actions d-flex justify-content-between mt-4">
      <div class="d-flex align-items-center">
        <%= link_to "Cancel", expenses_path, class: "btn btn-danger" %>
      </div>
      <div>
        <%= f.button :submit, class: "btn btn-success" %>
      </div>
    </div>
  </div>

<% end %>
