<div class="container">
  <h3>Expenses</h3>
  <% if @expenses.empty? %>
    <p>You haven't spent any money!</p>
    <%= link_to "Add you first expense!", new_expense_path, class: "btn btn-success" %>
  <% else %>
    <div>
        <%= donut_chart Expense.where(user: current_user).group(:category).sum(:amount),
          class: 'box',
          height: "250px",
          width: "600px",
          options: {
            legend: {
              orient: 'vertical', right: 'right',
              height: "250px",
              width: "250px",
            },
            emphasis: {
              itemStyle: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
              }
            }
          }
      %>
    </div>

    <div>
      <% total = 0 %>
      <% @expenses.each do |expense| %>
        <% total += expense.amount %>
      <% end %>
      <div class="d-flex justify-content-between">
        <h5 class="font-weight-bold">Total Expenses $<%= total %></h5>
        <%= link_to "Add Expense", new_expense_path, class: "btn btn-success" %>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Amount(€)</th>
          </tr>
        </thead>
        <tbody>
          <% @expenses.each do |expense| %>
            <tr>
                <td class="font-weight-bold"><%= expense.name.capitalize %></td>
                <td class="text-secondary "><%= expense.category.capitalize %></td>
                <td class="text-secondary"><%= expense.amount %> €</td>
                <td><%= link_to "Edit", edit_expense_path(expense),
                class: "btn btn-success"%>
                </td>
                <td><%= link_to "Delete", expense_path(expense), method: :delete,
                data: { turbo_method: 'DELETE', turbo_confirm: "Delete #{expense.name} Expense?" },
                class: "btn btn-danger" %>
                </td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
